Repository AlexWayfer/song-lyrics: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint

.cirrus.yaml:

container:
  image: node:latest

node_modules_cache: &node_modules_cache
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat package.json
  install_script:
    - npm install -g pnpm
    - pnpm install

remark_task:
  <<: *node_modules_cache

  lint_script: pnpm run lint:docs

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json',
      '.remark*', '**.md'
    )

stylelint_task:
  <<: *node_modules_cache

  lint_script: pnpm run lint:styles

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json',
      '.stylelint*', 'styles/**'
    )

eslint_task:
  <<: *node_modules_cache

  lint_script: pnpm run lint:scripts

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json',
      '.eslint*', 'scripts/**', 'exe/*.js', '*.{,m}js'
    )

Add an error notice when site doesn't work as expected
  pages/popup.html
  scripts/src/popup.js
  styles/popup.css
Due: stylelint, eslint

Update version to 4.0
  manifest.json
Due: none

Fix changelog for v4.0
  CHANGELOG.md
Due: remark

Update version to 4.0.1
  manifest.json
Due: none

Change description in manifest
  manifest.json
Due: none

Update version to 4.0.2
  manifest.json
Due: none

Fix song art sizes (height)
  styles/popup.css
Due: stylelint

Add refresh button for re-parsing song title and artists from a site
  pages/popup.html
  scripts/src/popup.js
  styles/popup.css
Due: stylelint, eslint

Return regular popup, but add a pin button
  manifest.json
  pages/popup.html
  scripts/src/popup.js
  scripts/src/service-worker.js
  styles/popup.css
Due: stylelint, eslint

Allow song arts from AWS S3 (rapgenius)
  manifest.json
Due: none

Fix lyrics width in iframe
  styles/popup.css
Due: stylelint

Remake posting messages about mouse move events from iframe to CSS `pointer-events: none`
  scripts/src/popup.js
  scripts/src/popup_container.js
Due: eslint

Remake CSS `resize` to a custom corner
  scripts/src/popup_container.js
  styles/popup.css
Due: stylelint, eslint

Add CHANGELOG for version 5.0
  CHANGELOG.md
Due: remark

Update version to 5.0
  manifest.json
Due: none

Add a checkbox for removing "(Mix)" part from query
  pages/popup.html
  scripts/src/popup.js
  styles/popup.css
Due: stylelint, eslint

Increase lyrics cache TTL from 24 hours to 7 days
  scripts/src/popup.js
Due: eslint

Move code for removing "(Mix)" to fix issues with refresh button
  scripts/src/popup.js
Due: eslint

Add "Clear iframe settings" context menu
  scripts/src/popup_container.js
  scripts/src/service-worker.js
Due: eslint

Watch for parsed search query change
  scripts/src/popup.js
Due: eslint

Fix parsing for Shazam
  scripts/src/popup.js
Due: eslint

Don't auto-refresh lyrics when query has been manually changed
  scripts/src/popup.js
Due: eslint

Pin correctly with a custom search query
  scripts/src/popup.js
  scripts/src/popup_container.js
Due: eslint

Fix parsing search query for YouTube
  scripts/src/popup.js
Due: eslint

Fix ESLint offenses
  scripts/src/popup.js
  scripts/src/service-worker.js
Due: eslint

Fix border and background colors opacity for iframe popup
  scripts/src/popup.js
Due: eslint

Don't display "Remove (Mix)" checkbox when useless
  scripts/src/popup.js
Due: eslint

Reset manual input status by "Refresh" button
  scripts/src/popup.js
Due: eslint

Update CHANGELOG for version 5.1
  CHANGELOG.md
Due: remark

Update version to 5.1
  manifest.json
Due: none

Update Node.js packages
  package.json
Due: remark, stylelint, eslint

Fix building with `rollup-plugin-multi-input`
  rollup.config.mjs
Due: eslint

Take all artists from Deezer
  scripts/src/popup.js
Due: eslint

Replace `rollup-plugin-multi-input` with `globSync.map` for `input` from docs
  package.json
  rollup.config.mjs
Due: remark, stylelint, eslint

Fix popup for unsupported platforms
  scripts/src/popup.js
Due: eslint

Add context menu item with version and link to changelog
  scripts/src/service-worker.js
Due: eslint

Check also for a long dash in YouTube video titles
  scripts/src/popup.js
Due: eslint

Improve removing additional info from YouTube titles inside brackets through `|`
  scripts/src/popup.js
Due: eslint

Add a link to report about not found songs
  pages/popup.html
  scripts/src/popup.js
  styles/popup.css
Due: stylelint, eslint

Fix small ESLint offenses
  scripts/src/popup.js
Due: eslint
