Repository AlexWayfer/song-lyrics: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint

.cirrus.yaml:

container:
  image: node:latest

node_modules_cache: &node_modules_cache
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat .node-version
      - cat pnpm-lock.yaml
  install_script:
    - npm install -g pnpm
    - pnpm install

remark_task:
  <<: *node_modules_cache

  lint_script: pnpm run lint:docs

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json',
      '.remark*', '**.md'
    )

stylelint_task:
  <<: *node_modules_cache

  lint_script: pnpm run lint:styles

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json',
      '.stylelint*', 'styles/**'
    )

eslint_task:
  <<: *node_modules_cache

  lint_script: pnpm run lint:scripts

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json',
      '.eslint*', 'scripts/**', 'exe/*.js', '*.{,m}js'
    )

Fix Node.js modules cache in Cirrus CI config
  .cirrus.yaml
Due: remark, stylelint, eslint

Try Node.js cache in Cirrus CI config without `pnpm` installation
  .cirrus.yaml
Due: remark, stylelint, eslint

Revert "Try Node.js cache in Cirrus CI config without `pnpm` installation"
  .cirrus.yaml
Due: remark, stylelint, eslint

Add Cirrus CI and Depfu badges into README
  README.md
Due: remark

Support lyrics placeholder on Genius
  scripts/src/popup.js
Due: eslint

Add Chrome Web Store version badge
  README.md
Due: remark

Small improvements for README
  README.md
Due: remark

Encode query, fix problems with chars like "&"
  scripts/src/popup.js
Due: eslint

Clear old cache entries on every loading
  scripts/src/popup.js
Due: eslint

Clear cache on every update
  scripts/src/service-worker.js
Due: eslint

Remake lyrics cache from the whole document to the essence
  scripts/src/popup.js
Due: eslint

Remove "(Lyrics)" for a request from YouTube
  scripts/src/popup.js
Due: eslint

Update version to 1.9
  manifest.json
Due: none

Remake cache system to searches and songs
  scripts/src/popup.js
Due: eslint

Display other search results (non-clickable for now)
  pages/popup.html
  scripts/src/popup.js
  styles/popup.css
Due: stylelint, eslint

Switch from other search results
  scripts/src/popup.js
  styles/popup.css
Due: stylelint, eslint

Fix permissions in manifest for Genius images
  manifest.json
Due: none

Fix popup height for loading screen
  styles/popup.css
Due: stylelint

Hide other search results link when there is nothing
  scripts/src/popup.js
Due: eslint

Add query text (or other search result full title) into loading notice
  pages/popup.html
  scripts/src/popup.js
Due: eslint

Fix permissions in manifest for Genius images more
  manifest.json
Due: none

Remove a lot of trash from YouTube query
  scripts/src/popup.js
Due: eslint

Fix featuring regexp, when there are other parentheses
  scripts/src/popup.js
Due: eslint

Add Odesli support
  scripts/src/popup.js
Due: eslint

Add Yandex Music support
  scripts/src/popup.js
Due: eslint

Align "Not found" and "Loading" notices to the center
  styles/popup.css
Due: stylelint

Add SoundCloud support
  scripts/src/popup.js
Due: eslint

Clear "(prod.)" as well as featuring
  scripts/src/popup.js
Due: eslint

Add new music platforms into README
  README.md
Due: remark

Update version to 2.0
  manifest.json
Due: none

Update ESLint config
  .eslintrc.yaml
  eslint.config.js
  package.json
  scripts/src/popup.js
Due: remark, stylelint, eslint

Return `tab` style to `remark-lint-list-item-indent`
  .remarkrc.yaml
  package.json
Due: remark, stylelint, eslint

Remove a lot of new trash text from YouTube query
  scripts/src/popup.js
Due: eslint

Add Last.fm support
  scripts/src/popup.js
Due: eslint

Add Apple Music support
  scripts/src/popup.js
Due: eslint

Replace `let` with `const` where variable is not changing
  scripts/src/popup.js
Due: eslint

Add Spotify support
  scripts/src/popup.js
Due: eslint

Rewrite `exe/` scripts from `require()` to `import`
  exe/_common.js
  exe/pack.js
  exe/release.js
  package.json
Due: remark, stylelint, eslint
