Repository AlexWayfer/song-lyrics: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint

.cirrus.yaml:

container:
  image: node:latest

node_modules_cache: &node_modules_cache
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat package.json
  install_script:
    - npm install -g pnpm
    - pnpm install

remark_task:
  <<: *node_modules_cache

  lint_script: pnpm run lint:docs

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json',
      '.remark*', '**.md'
    )

stylelint_task:
  <<: *node_modules_cache

  lint_script: pnpm run lint:styles

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json',
      '.stylelint*', 'styles/**'
    )

eslint_task:
  <<: *node_modules_cache

  lint_script: pnpm run lint:scripts

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json',
      '.eslint*', 'scripts/**', 'exe/*.js', '*.{,m}js'
    )

Update version to 3.0
  manifest.json
Due: none

Add missing supported platforms into README
  README.md
Due: remark

Update version to 3.0.1
  manifest.json
Due: none

Update (fix) Shazam pages
  scripts/src/popup.js
Due: eslint

Add link to a search page on Genius
  pages/popup.html
  scripts/src/popup.js
  styles/popup.css
Due: stylelint, eslint

Include YouTube channel name in search query
  scripts/src/popup.js
Due: eslint

Add link to contact the developer if site is not supported
  pages/popup.html
  styles/popup.css
Due: stylelint

Use kind of system theme (light/dark) if site is not supported
  scripts/src/popup.js
Due: eslint

Improve link to contact the developer about unsupported platforms
  pages/popup.html
  scripts/src/popup.js
Due: eslint

Add support for YouTube Music
  README.md
  scripts/src/popup.js
Due: remark, eslint

Add curly braces to `switch` for music platforms
  scripts/src/popup.js
Due: eslint

Update version to 3.1.0
  manifest.json
Due: none

Replace complex shell commands for development with `npm-run-all`
  package.json
Due: remark, stylelint, eslint

Write usage instructions in README
  README.md
Due: remark

Add CHANGELOG file
  CHANGELOG.md
Due: remark

Replace common `featuringRegexp` const with `clearFeaturing` function
  scripts/src/popup.js
Due: eslint

Remove trash in square parentheses from YouTube requests
  CHANGELOG.md
  scripts/src/popup.js
Due: remark, eslint

Fix warning about third-party cookies in extension errors
  CHANGELOG.md
  scripts/src/popup.js
Due: remark, eslint

Make popup window as iframe
  manifest.json
  scripts/src/popup.js
  scripts/src/service-worker.js
  styles/popup.css
Due: stylelint, eslint

Add moving by header for popup iframe
  scripts/src/service-worker.js
Due: eslint

Fix errors with popup dragging
  scripts/src/service-worker.js
Due: eslint

Move Popup Container (iframe) logic into an outer class
  manifest.json
  scripts/src/popup_container.js
  scripts/src/service-worker.js
Due: eslint

Resolve ESLint offenses
  eslint.config.js
  scripts/src/popup_container.js
  scripts/src/service-worker.js
Due: eslint

Add (commented out) debug code
  scripts/src/popup_container.js
Due: eslint

Add close button (with icon) for closing popup-iframe
  manifest.json
  scripts/src/popup_container.js
Due: eslint

Resolve ESLint offenses
  scripts/src/popup_container.js
Due: eslint

Save popup iframe sizes
  scripts/src/popup_container.js
  scripts/src/service-worker.js
Due: eslint

Add threshold for resize event
  scripts/src/popup_container.js
Due: eslint

Switch from `getBoundingClientRect()` to `offsetLeft/Top` for popup iframe
  scripts/src/popup_container.js
Due: eslint

Simplify popup iframe moving algorithm
  scripts/src/popup_container.js
Due: eslint

Get rid of lags for popup iframe moving
  scripts/src/popup.js
  scripts/src/popup_container.js
Due: eslint

Save popup iframe position in local storage
  scripts/src/popup_container.js
Due: eslint

Make popup iframe settings per host
  scripts/src/popup_container.js
Due: eslint

Pass colors from popup iframe even when site is unsupported
  scripts/src/popup.js
Due: eslint

Improve styles for popup iframe
  scripts/src/popup_container.js
Due: eslint

Add music platforms for popup iframe on non-supported sites
  pages/popup.html
  scripts/src/popup.js
  scripts/src/popup_container.js
  styles/popup.css
Due: stylelint, eslint

Add query form for unsupported sites
  pages/popup.html
  scripts/src/popup.js
Due: eslint

Return red color for unsupported sites notice
  styles/popup.css
Due: stylelint
